body{
  margin: 0%;
  padding: 0%;
 
}
.bg{
  background-image: url(/src/Components/p1.png);
background-size: cover;
background-position: center;

}
.bg2 {
  position: relative;
}

.bg2::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/src/Components/pngwing.com (16).png');
  background-size: cover;
  background-position: center;
  opacity: 0.3; 
}
/* styles.css */
.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

